$deep-dark: rgb(26, 26, 26);
$light-dark: rgb(52, 73, 94);
$light-blue: rgb(0, 132, 255);
$dark-blue: rgb(2, 84, 161);
$light: rgb(245, 245, 245);
$white: rgb(255,255,255);
$green: rgb(65, 184, 131);
$green-light: rgb(85, 224, 162);
$green-dark: rgb(26, 158, 99);
$tomato: rgb(255, 99, 71);
$gold: rgb(250, 247, 63);
$gold-light:rgb(252, 250, 159);
$gradient: linear-gradient(340deg, $green 0%, $light-dark 100%);