$deep-dark: rgb(26, 26, 26);
$light-dark: rgb(79, 82, 92);
$light-blue: rgb(0, 132, 255);
$dark-blue: rgb(2, 84, 161);
$light: rgb(245, 245, 245);
$white: rgb(255,255,255);
$green: rgb(15, 179, 69);
$tomato: rgb(255, 99, 71);
$shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
$gradient: linear-gradient(340deg, rgb(4, 93, 233) 0%, rgb(9, 198, 249) 100%);