@use './mixins' as *;
@use './variables' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	// display: flex;
	// justify-content: center;
	font-family: 'Montserrat', sans-serif;
	background-color: $light;
}

.wrapper {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.header {
	width: 100%;
	text-align: center;
	background-image: $gradient;
	padding-block: 25px;
	position: relative;
	z-index: 2;

	&__heading {
		margin-bottom: 20px;
		color: $light;
		font-size: 40px;

		span {
			color: $deep-dark;
		}
	}

	&__input-box {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		flex-wrap: wrap;
		padding-inline: 10px;
	}

	&__input-txt,
	&__select,
	&__input-date {
		min-width: 150px;
		flex: 1;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		color: $light-dark;
		background-color: $light;
	}

	&__input-importance {
		opacity: 0;
		position: absolute;
	}

	.star {
		position: relative;
		cursor: pointer;
		display: inline-block;
		font-size: 30px;
		color: $deep-dark;
		transition: color 0.3s;

		&:hover {
			color: $gold-light;
		}
	}

	.header__input-importance:checked + .star {
		color: $tomato;
	}

	&__btn {
		padding: 10px 32px;
		border: none;
		border-radius: 5px;
		color: $dark-blue;
		background-color: $light;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			color: $white;
			background-color: $light-dark;
		}
	}
}

.main {
	display: flex;
	width: 100%;
	height: calc(100vh - 152px);
}

.side {
	background-color: $green;
	width: 320px;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 5px;
	padding-inline: 35px;
	box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
	z-index: 1;

	&__heading {
		font-size: 26px;
		position: relative;
		margin-block: 20px;
		text-shadow: 1px 1px 1px $green-dark;

		&::after {
			content: '';
			position: absolute;
			bottom: -8px;
			left: -5px;
			width: 90%;
			height: 3px;
			background-image: $gradient;
		}
	}

	&__span {
		display: flex;
		justify-content: space-between;
		border-radius: 10px;
		transition: background-color 0.3s;
	}

	&__item {
		display: inline-block;
		cursor: pointer;
		background-color: transparent;
		text-align: left;
		border: none;
		border-radius: 10px;
		padding: 10px;
		font-size: 18px;
		transition: background-color 0.3s;

		&:hover {
			background-color: $green-dark;
		}

		.fa-regular,
		.fa-solid {
			width: 28px;
		}
	}

	&--active {
		background-color: $green-light;
	}

	&__item-projects {
		flex: 1;
	}
}

.todo {
	padding: 20px;
	text-align: center;
	background: $white;
	width: calc(100% - 320px);
	overflow-y: scroll;

	&__heading {
		text-transform: uppercase;
		margin-bottom: 16px;
	}

	&__alert {
		margin-top: 20px;
		color: $dark-blue;
	}

	&__li {
		max-width: 800px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 15px auto;
		padding-left: 20px;
		text-align-last: left;
		list-style: none;
		background-color: $light;

		&--complete {
			font-style: italic;
			color: $light-dark;
			text-decoration: line-through;
		}
	}

	&__info {
		display: flex;
		gap: 10px;
		order: -1;
	}

	.star {
		color: $deep-dark;

		&--checked {
			color: $tomato;
		}
	}

	&__tools {
		display: inline-block;
	}

	&__btn {
		padding: 15px 10px;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: $white;
		}

		&--complete {
			color: $light-blue;
		}

		&--edit {
			font-weight: bold;
			color: $green;
		}

		&--delete {
			color: $tomato;
		}
	}
}

.popup {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 800px;
	color: $light;
	background-color: $light-dark;
	border-radius: 5px;

	&__header {
		padding: 20px;
	}

	&__info {
		margin-bottom: 20px;
		color: $light;
	}

	&__body {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 90%;
		padding: 10px;
	}

	&__input {
		width: 100%;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		color: $light-dark;
		background-color: $light;
	}

	&__btn {
		display: inline-block;
		width: 30%;
		padding: 10px 22px;
		margin: 20px;
		border: none;
		border-radius: 5px;
		color: $deep-dark;
		background-color: $light;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			color: $white;
			background-color: $light-blue;
		}
	}
}
